<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.ethiopiaemrcustommodule</package>
	<author>said</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.ethiopiaemrcustommodule.EthiopiaEmrCustomModuleActivator</activator>
	<mappingFiles>
		PrescriptionOutbox.hbm.xml
	</mappingFiles>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	<require_modules>
		<require_module version="3.1.0-SNAPSHOT">org.openmrs.module.webservices.rest</require_module>
	</require_modules>
	
	<!-- Servlets -->
	<!-- REST endpoints are registered via Spring controllers, no servlet configuration needed -->
	<!-- /Servlets -->

	<!-- Internationalization -->
	<!-- All message codes should start with ethiopiaemrcustommodule.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

